<div class="settings-content" ng-show="ready">
    <form name="configForm">

        <div class="input-group">
            <p>Activ8or IP Address:&nbsp;&nbsp;
                <span class="input-group-addon">http://</span>
                <input name="a8Ip" class="ip-input" ng-model="vizSettings.a8Ip" value="{{vizSettings.a8Ip}}" ng-pattern="ipRegex">
                <span class="input-group-addon">:1337</span>
                <span class="error-addon" ng-show="configForm.a8Ip.$error.pattern">&nbsp;&nbsp;&nbsp;Invalid IP.</span>
            </p>
        </div>

        <div class="input-group">
            <p>CMS Address:&nbsp;&nbsp;
                <input type="url" name="cmsAddr" class="url-input" ng-model="vizSettings.cmsAddr"
                       value="{{vizSettings.cmsAddr}}">
                <span class="error-addon" ng-show="configForm.cmsAddr.$error.url">&nbsp;&nbsp;&nbsp;Invalid URL. (Hint: include the protocol, i.e. "http://...")</span>
            </p>
        </div>

        <div class="input-group">
            <p>Venue ID:&nbsp;&nbsp;
                <input name="venueId" class="integer-input" ng-model="vizSettings.venueId" value="{{vizSettings.venueId}}" ng-pattern="venueIdRegex">
                <span class="error-addon" ng-show="configForm.venueId.$error.pattern">&nbsp;&nbsp;&nbsp;Invalid venue ID.</span>
            </p>
        </div>

        <div class="input-group">
            <button type="button" ng-click="onReset()">Reset</button>
            <button type="button" ng-disabled="!configForm.$valid" ng-click="onApply()">Apply</button>
        </div>

    </form>
</div>